.wrap {
    width: 810px;
    background: white;
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border: #4f4f65 4px solid;
    row-gap: 3px;
    column-gap: 3px;
    text-align: center;
}
.wrap2 {
    width: 607px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 3px;
    column-gap: 3px;
}
.w800{
    width: 807px;
}
.h200{
    height: 200px;
}
.w200{
    width: 200px;
}
.h400{
    height: 400px;
}
.bgr{
    background: #d4d4d4;
}
.box{
    box-sizing: border-box;
}
.A, .B, .C, .D, .E, .F, .G{
    padding-top: 90px;
}
.H{
    padding-top: 180px;
}
@media screen and (min-width: 0px) and (max-width: 790px) {
    .wrap, .wrap2{
        width: 396px;
    }
    .wrap2{
        margin: 15px;
    }
    .A{
        width: 396px;
        height: 70px;
        padding-top: 30px;
    }
    .B, .C, .D, .E, .F, .G{
        width: 80px;
        height: 80px;
        margin: 20px;
        padding-top: 40px;

    }
    .H{
        width: 396px;
        height: 260px;
        padding-top: 120px;
    }

}